---
---
/* 1. D2Coding 폰트 불러오기 */
@import url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css');

$baseurl: "{{ site.baseurl }}";

html, body {
  margin:0;
  padding:0;
}

/* 2. 폰트 로딩 완료 시 적용되는 부분 */
.fonts-loaded {
  a, span, p { font-family: "D2Coding", monospace; }
  h1, h2, h3 { font-family: "D2Coding", monospace; }
  mark { font-family: "D2Coding", monospace; }
}

a { text-decoration:none; }
a, span, p, h1, h2, h3, i { color:#3A241A; }

/* 3. 기본 상태의 폰트 설정 및 장평(자간) 고정 */
a, span, p { 
  font-family: "D2Coding", monospace; 
  letter-spacing: 0;
  word-spacing: 0;
}

h1, h2, h3, mark {
  margin:0;
  font-family: "D2Coding", monospace;
  letter-spacing: 0;
  word-spacing: 0;
}

mark { background-color:transparent; }

/* 4. 코드 블록(Markdown)에도 동일하게 D2Coding 적용 */
code, pre, kbd, samp {
  font-family: "D2Coding", monospace;
  letter-spacing: 0;
  word-spacing: 0;
}

svg {
  width:16px;
  aspect-ratio:1.0;
  fill:#3A241A;
  display:block;
  margin:auto;
}

button {
  border:none;
  background:none;
  padding:0;
}

/* Disable default input cancel button */
input::-ms-clear,
input::-ms-reveal{
	display:none;
  width:0;
  height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

@import 'vars';
@import 'layout';

:root{
  --pagewidth-desktop:calc(max(min(100vw - #{$sidebarwd} - 2rem, #{$contentwd}), 44rem));
}

@import "sidebar";
@import "navigation";
@import "pagination";
@import "toc";
@import "post";
@import "search";
@import "darkmode";
