---
---
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

$baseurl: "{{ site.baseurl }}";

html, body {
  margin:0;
  padding:0;
}

/* 2. 폰트 로딩 완료 시 적용되는 부분 */
.fonts-loaded {
  a, span, p { font-family: "Nanum Gothic Coding", monospace; }
  h1, h2, h3 { font-family: "Nanum Gothic Coding", monospace; }
  mark { font-family: "Nanum Gothic Coding", monospace; }
}

a { text-decoration:none; }
a, span, p, h1, h2, h3, i { color:#3A241A; }

/* 3. 기본 상태의 폰트 설정 (중요) */
a, span, p { font-family: "Nanum Gothic Coding", monospace; }
h1, h2, h3, mark {
  margin:0;
  font-family: "Nanum Gothic Coding", monospace;
}

mark { background-color:transparent; }

svg {
  width:16px;
  aspect-ratio:1.0;
  fill:#3A241A;
  display:block;
  margin:auto;
}

button {
  border:none;
  background:none;
  padding:0;
}

/* Disable default input cancel button */
input::-ms-clear,
input::-ms-reveal{
	display:none;
  width:0;
  height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

@import 'vars';
@import 'layout';

:root{
  --pagewidth-desktop:calc(max(min(100vw - #{$sidebarwd} - 2rem, #{$contentwd}), 44rem));
}

@import "sidebar";
@import "navigation";
@import "pagination";
@import "toc";
@import "post";
@import "search";
@import "darkmode";
